### Ratings File

In [1]:
# import dependencies
import pandas as pd
import numpy as np
from ast import literal_eval

In [2]:
# Read the csv file to dataframe
user_ratings_df = pd.read_csv("ratings.csv")
user_ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [3]:
len(user_ratings_df.index)

26024289

In [4]:
user_ratings_df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Non-Null Count     Dtype
---  ------     --------------     -----
 0   userId     26024289 non-null  int64
 1   movieId    26024289 non-null  int64
 2   rating     26024289 non-null  float64
 3   timestamp  26024289 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [5]:
user_ratings_df['timestamp'] = pd.to_datetime(user_ratings_df['timestamp'], unit='s')

In [6]:
user_ratings_df.sample(50)

          userId  movieId  rating           timestamp
9897754   101949    93721     3.5 2012-11-14 23:53:59
3050185    31864     5952     3.5 2005-03-22 07:24:50
6154172    63400     6016     5.0 2016-11-14 12:44:11
17964605  186553     5673     4.5 2003-07-24 09:42:19
15566254  162078      186     3.0 1996-08-05 05:25:25
12912245  134077     2947     4.0 2010-02-07 01:21:51
140313      1426     3623     3.5 2015-03-02 21:08:27
15443695  160728      165     2.0 2003-05-09 06:49:44
15773741  164060     8528     3.0 2009-05-05 19:29:50
25387909  264330    48774     3.0 2015-03-31 19:44:55
17891346  185742     2003     4.0 2002-01-03 21:52:11
22256756  231017     5378     4.5 2010-01-23 22:12:54
12879496  133729     1641     5.0 2004-02-25 18:46:04
5581861    57453   102481     2.5 2017-07-26 13:29:14
7562279    78140     2529     4.0 2000-07-31 17:27:10
3255456    33863     7438     0.5 2016-04-11 18:11:04
17570043  182300     6383     1.0 2008-11-16 10:02:10
13561477  141009    50153     0.5 2011-01-31 04:17:20
16988432  176481      300     3.0 1996-04-18 00:19:02
20074306  208759     4932     4.0 2006-09-23 03:40:45
17463102  181182    84187     3.5 2011-04-14 17:33:29
281703      2975     3439     2.5 2007-02-04 21:47:30
16111979  167583      546     1.0 1996-07-18 16:32:19
20339680  211297     4019     4.0 2001-08-23 20:57:36
14609440  151877     3754     4.5 2004-04-21 18:29:48
19963476  207563    68237     3.5 2012-11-04 03:50:27
312677      3341      440     4.0 1996-05-20 13:48:49
13063425  135751      923     4.5 2007-03-27 00:54:49
17750618  184217      165     2.0 2006-08-15 01:01:14
8576921    88433      316     2.5 2009-10-09 03:52:04
4939271    50804     2699     1.0 2017-03-07 20:59:59
6049765    62314      349     4.0 2000-11-24 17:45:21
10954428  113282     1029     2.0 2005-03-07 21:42:51
6734849    69474       25     5.0 1997-02-18 18:31:36
6928197    71458     1527     5.0 2003-02-28 02:30:54
2722571    28251     1965     4.0 2003-08-04 01:32:45
14815467  154087    55232     3.5 2016-11-22 10:38:06
8199521    84495     8644     2.5 2009-12-27 07:15:03
1204883    12381     1895     1.0 2010-07-19 18:13:18
2106356    21878     2918     3.0 2009-12-13 04:01:23
22428660  232782   103141     3.5 2015-12-18 13:01:50
22775369  236644    66097     3.5 2016-02-18 03:49:19
17614124  182733     3068     4.0 2012-04-26 12:16:38
5156609    53143     1177     5.0 1999-10-10 08:35:12
1229182    12630     1580     3.0 2015-01-16 15:37:08
6346500    65537      185     1.5 2009-04-27 18:08:34
8576893    88433       16     2.5 2009-10-11 02:45:52
9905988   102040     8784     3.5 2006-07-21 03:08:10
10404164  107401     1105     2.0 1997-03-01 18:24:34
9622310    99227     1358     3.0 1999-10-10 20:30:37

user_ratings_df = user_ratings_df.dropna()

In [7]:
len(user_ratings_df.index)

26024289

In [8]:
# write clean ratings data to csv file for loading to db
user_ratings_df.to_csv('ratings_clean.csv', index=False)